.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    box-sizing: border-box;
}

.container-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    display: block;
}

.container::after {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: .4;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 859px) {
    .container {
        flex-direction: column;
    }
    .container-pic {
        height: 400px;
    }
}

@media screen and (max-width: 659px) {
    .container-pic {
        height: 300px;
    }
}