.page {
  max-width: 1600px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Bebas-Neue', 'Arial', 'Helvetica', 'sans-serif';
  letter-spacing: 4px;
  font-weight: normal;
  background-color: #000;
}
